.background {
  width: 100%; /* Ensures the div spans the full width */
  height: 100vh; /* Ensures the div spans the full height of the viewport */
  background: url("../images/dahlia-red-blossom-bloom-60597.webp") no-repeat
    center center;
  background-size: cover; /* Ensures the image covers the entire div */
}

body {
  font-family: Arial, sans-serif;
  background: green !important; /* Ensure the green background is applied */
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.product {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 300px;
  background-color: transparent; /* Ensure background is transparent */
}

.product img {
  width: 100%;
  height: auto;
}

.product h2 {
  font-size: 1.5em;
}

.product p {
  font-size: 1.2em;
  color: #ff6f61;
}
#a {
  background: #ff6f61;
}
#b {
  background: rgb(6, 157, 6);
}
.animation {
  position: relative;
  font-size: 24px;
  animation: moveLeftRight 3s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  100% {
    left: 100px;
  }
}
